/* @font-face {
  font-family: 'Inter var';
  src: url('./../../Inter.var.woff2');
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 2em;
  font-family: 'Inter var', sans-serif;
  font-size: 16px;
  color: #34495e;
  background: #f8f9fa;
}

.title {
  position: relative;
  width: 600px;
  margin-top: 1.3em;
  margin-bottom: 0.3em;
  line-height: 1.2em;
  display: flex;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  /* font-feature-settings: "tnum"; */
}

.grid-line {
  stroke: cornflowerblue;
}

.tick-label {
  font-size: 0.7em;
  fill: #8395a7;
  dominant-baseline: middle;
  font-weight: 600;
  letter-spacing: 0.007em;
}

.temperature-grids {
  fill: none;
  stroke: cornflowerblue;
}
.tick-temperature-label {
  fill: #8395a7;
  opacity: 0.7;

  font-size: 0.7em;
  dominant-baseline: middle;
}

.freezing-circle {
  fill: #00d2d3;
  opacity: 0.15;
}
.uv-line {
  stroke: #feca57;
  stroke-width: 2;
}

.cloud-dot {
  fill: #c8d6e5;
  mix-blend-mode: multiply;
}
